# Игнорируем виртуальное окружение
.venv/
venv/
env/

# Игнорируем кэш питона
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем локальную БД (контейнер создаст свою чистую базу при старте)
database/workouts1.db